---
// UnitsTab.astro - Units management tab with modular sub-components
// Uses shared state from BuildingProvider

import QuickActionsToolbar from "../units/QuickActionsToolbar.astro";
import FiltersSearchSection from "../units/FiltersSearchSection.astro";
import UnitsGrid from "../units/UnitsGrid.astro";

export interface Props {
    // No props needed - uses shared state from parent BuildingProvider
}
---

<!-- Units Tab - uses shared BuildingProvider state -->
<div x-show="activeSectionTab === 'units'" class="space-y-4">
    <QuickActionsToolbar />
    
    <FiltersSearchSection />
    
    <UnitsGrid />
</div>