---
import Layout from "../../layouts/Layout.astro";
import { Resource } from "sst";

const apiURL = Resource.API.url;
---

<Layout title="Add Building">
    <main>
        <h1>Add New Building</h1>
        <script define:vars={{ apiURL }} is:inline>
            // This script is used to define the apiURL variable for Alpine.js
            window.apiURL = apiURL;
        </script>
        <form
            x-data="{
                buildingID: '',
                street: '',
                city: '',
                state: '',
                zip: '',
                description: '',
                async addBuilding() {
                    if(!this.buildingID) {
                        alert('Building ID is required.');
                        return;
                    }
                    const response = await fetch(`${apiURL}buildings/${this.buildingID}`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            buildingID: this.buildingID,
                            street: this.street,
                            city: this.city,
                            state: this.state,
                            zip: this.zip,
                            description: this.description,
                        }),
                    });
                    if(response.ok) {
                        window.location.href = '/';
                    } else {
                        alert('Failed to add building.');
                    }
                }
            }"
            @submit.prevent="addBuilding"
            class="space-y-4"
        >
            <label class="block">
                Building ID (required)
                <input
                    type="text"
                    class="border p-1 w-full"
                    x-model="buildingID"
                    required
                />
            </label>
            <label class="block">
                Street
                <input type="text" class="border p-1 w-full" x-model="street" />
            </label>
            <label class="block">
                City
                <input type="text" class="border p-1 w-full" x-model="city" />
            </label>
            <label class="block">
                State
                <input type="text" class="border p-1 w-full" x-model="state" />
            </label>
            <label class="block">
                Zip
                <input type="text" class="border p-1 w-full" x-model="zip" />
            </label>
            <label class="block">
                Description
                <input
                    type="text"
                    class="border p-1 w-full"
                    x-model="description"
                />
            </label>
            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                >Add Building</button
            >
            <a
                href="/"
                class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-block"
                >Cancel</a
            >
        </form>
    </main>
</Layout>
