---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { Resource } from "sst";
const { title } = Astro.props;
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <BaseHead title={title} />
    </head>
    <body>
        <script define:vars={{ apiURL: Resource.API.url }} is:inline>
            window.apiURL = apiURL;
        </script>
        <slot />
        <Footer />
    </body>
</html>
