---
import Layout from '../layouts/Layout.astro';
import { getBuildings } from '../../data/buildings';
import { getUnits } from '../../data/units';
import BuildingCard from '../components/BuildingCard.astro';
import UnitCard from '../components/UnitCard.astro';

import _ from 'lodash';

const buildings = await getBuildings();
const units = (await Promise.all(
    _.map(buildings, async (building) => {
        const units = await getUnits(building.buildingID);
        return units;
    })
));
const unitsByBuilding = _.zipObject(_.map(buildings, 'buildingID'), units);
---

<Layout title='Apartment Manager'>
    <main>
        <div class='flex justify-between items-center'>
            <h1>Buildings</h1>
            <a
                href='/buildings/add'
                class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
                >Add Building</a
            >
        </div>
        {
            _.map(buildings, (building, i) => (
                <BuildingCard buildingID={building.buildingID}>
                    <h2>Units</h2>
                    {_.map(unitsByBuilding[building.buildingID], (unit) => (
                        <UnitCard unitID={unit.unitID} />
                    ))}
                </BuildingCard>
            ))
        }
    </main>
</Layout>
