---
import Layout from "../layouts/Layout.astro";
import { getBuildings } from "../../data/buildings";
import { getUnits } from "../../data/units";
import BuildingCard from "../components/BuildingCard.astro";
import UnitCard from "../components/UnitCard.astro";

const buildings = await getBuildings();
const unitsByBuilding = await Promise.all(
    buildings.map(b => getUnits(b.buildingID))
);
---

<Layout title="Apartment Manager">
    <main>
        <h1>Buildings</h1>
        {buildings.map((building, i) => (
            <BuildingCard building={building}>
                <h2>Units</h2>
                {unitsByBuilding[i].map(unit => (
                    <UnitCard unit={unit} />
                ))}
            </BuildingCard>
        ))}
    </main>
</Layout>