---
import Layout from '../layouts/Layout.astro';
import BuildingsComponent from '../components/BuildingsComponent.astro';
---
<Layout title="Apartment Manager">
    <main>
        <BuildingsComponent />
    </main>
</Layout>
