---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import logo from "../images/apartment-manager.png";
---

<Layout title="Astro x SST">
    <main>
        <Image src={logo} alt="Apartment Manager Logo" />
        <p>Hello, World!</p>
    </main>
</Layout>
