@import "tailwindcss";
@source "../**/*.{astro,html,js,jsx,md,mdx,svelte,ts,tsx,vue}";
@plugin "daisyui" {
    themes: emerald --default, dark --prefersdark;
}

main {
    margin: auto;
    padding: 1.5rem;
}
